.home-section {
  border: 3px solid yellow;
  width: 100%;
}

.playerCard {
  background-color: var(--light);
  border: 5px solid blue;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;

  /* background-image: attr(data-image-url);
  background-image: url("src/asset/playerImages/Djokovic.png");
 */

  /*  
  display: flex;
  position: relative; 
  */

  /* justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 150px;
  overflow: hidden; */
}

/* .player-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: attr(data-image-url url);
}
 */
/* .playerCard__container-image {
  width: 35%;
  border: 3px solid red;
  overflow: hidden;
  position: absolute;
} */

/* MOBILE VERSION BULLE*/
.playerCard__container-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 30%;
  height: 100%;
  /*border-radius: 50%;  Rendre le conteneur circulaire en utilisant le rayon de bordure */
  overflow: hidden; /* Masquer le contenu dépassant du conteneur */
}

.player-image {
  position: absolute;
  /* border: 2px solid green; */
  width: 100%;
  /* Assurez-vous que l'image remplit entièrement le conteneur */
  height: auto;
  /* Pour conserver les proportions de l'image */

  /* Position absolue pour placer l'image au centre du conteneur */
  top: 26px;
  /* Alignez le haut de l'image au centre vertical du conteneur */
  left: -2px;
  /* Alignez la gauche de l'image au centre horizontal du conteneur */
  /* transform: translate(-50%, -50%); */
  /* Déplacez l'image de moitié de sa taille dans les deux directions pour la centrer */
  object-fit: cover;
  /* Redimensionner l'image pour qu'elle couvre entièrement le conteneur */
  object-position: center top;
  /* Centrer l'image horizontalement et positionner sa partie supérieure au centre vertical du conteneur */
  scale: 2;
}

.playerCard__content-resume {
  border: 3px solid orange;
  padding: 1.5rem 0;
  width: 70%;
  margin-left: 30%;
  margin-right: 10%;
}

.playerCard__playerName {
  font-size: 1.2rem;
  padding-bottom: 2rem;

  font-family: var(--title);
  color: var(--orange-Tenisu);
}

.statList {
  list-style: none;
  border: 2px solid purple;
  display: flex;
  justify-content: space-between;
}

.statList-item {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid salmon;
  font-family: var(--text);
  font-weight: var(--semibold);
  color: rgba(0, 0, 0, 0.3);
}
.stat-title {
  color: blue;
}

.statList-item .statList-info {
  border: 1px solid black;
  display: block;
  color: var(--orange-Tenisu);
  font-weight: var(--bold);
}

@media screen and( min-width: 768px ) {
}
