.playerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin-bottom: 10px;
  max-width: 50%;
  max-height: 150px;
  overflow: hidden;
}

.playerCard__container-image {
  width: 35%;
  border: 3px solid red;
  overflow: hidden;
}

.player-image {
  border: 2px solid green;
  width: 150%;
  height: auto;
  margin-top: 8rem;
}

.playerCard__content-resume {
  flex-grow: 1;
  border: 3px solid orange;
}

.playerCard__playerName {
  margin-bottom: 2rem;
  font-size: 18px;
  font-family: var(--title);
  color: var(--orange-Tenisu);
}

.statList {
  list-style: none;
  border: 2px solid purple;
  display: flex;
  justify-content: space-between;
}

.statList-item {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid salmon;
  font-family: var(--text);
  font-weight: var(--semibold);
  color: rgba(0, 0, 0, 0.3);
}

.statList-item .statList-info {
  border: 1px solid black;
  display: block;
  color: var(--orange-Tenisu);
  font-weight: var(--semibold);
}
